<% if !data[:public] %>
<!doctype html>
<html lang="en">
<head>
  <link href="vendor/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="vendor/css/cv.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body class="public">
  <div id="cv">
    <div id="name">
      <h1>John Bender<h1>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Contact Information
      </div>
      <div class="span5">
        <div id="street">
          <%= data[:address][:street] %>
        </div>
        <div id="other">
          <%= data[:address][:other] %>
        </div>
      </div>
      <div class="span5" id="contact">
        <div>
          phone: <%= data[:phone] %>
        </div>
        <div>
          email: <%= data[:email] %>
        </div>
      </div>
    </div>
<% else %>
---
layout: page
title : Curriculum Vitae
link : CV
header : Curriculum Vitae
group: navigation
width: 11
---
  <div id="cv">
<% end %>
    <div class="row-fluid">
      <div class="span2">
        Research Interests
      </div>
      <div class="span10">
        <%= data[:interests].join(", ") %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Education
      </div>
      <div class="span10">
        <div>
          <b><%= data[:ed][:where][:title] %></b>, <%= data[:ed][:where][:loc] %>
        </div>
        <div>
          <em><%= data[:ed][:what][:degree] %></em>, <%= data[:ed][:what][:major] %> <b class="right"><%= data[:ed][:when] %></b>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Professional Experience
      </div>
      <div class="span10">
        <% data[:work].each_with_index do |position, i| %>
        <div class="position">
          <div>
            <b><%= position[:where][:title] %></b>, <%= position[:where][:loc] %>
          </div>
          <div>
            <em><%= position[:what][:title] %></em><b class="right"><%= position[:when] %></b>
          </div>
          <div>
            <%= position[:what][:description] %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Reports
      </div>
      <div class="span10">
        <% data[:pubs].each_with_index do |pub, i| %>
        <div>
          <%= pub[:authors].join(",") %>, "<%= pub[:title] %>", <em><%= pub[:where] %></em><%= pub[:when] ? ", " : "" %><%= pub[:when] %><%= pub[:url] ? ", " : "" %> <a href="<%= pub[:url] %>"><%= pub[:url] %></a>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Presentations
      </div>
      <div class="span10">
        <% data[:presos].each_with_index do |preso, i| %>
        <div class="citation">
          <%= preso[:authors].join(",") %>, "<%= preso[:title] %>", <em><%= preso[:where] %></em>, <% if !preso[:url] %><%= preso[:description] %>, <% end %> <%= preso[:when] %><%= preso[:url] ? "," : "" %> <a href="<%= preso[:url] %>"><%= preso[:url] %></a> <%= preso[:note] %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Posters
      </div>
      <div class="span10">
        <% data[:posters].each_with_index do |poster, i| %>
        <div class="citation">
          <%= poster[:authors].join(",") %>, "<%= poster[:title] %>", <em><%= poster[:where] %></em>, <%= poster[:when] %><%= poster[:url] ? "," : "" %> <a href="<%= poster[:url] %>"><%= poster[:url] %></a> <%= poster[:note] %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Essays
      </div>
      <div class="span10">
        <% data[:essays].each_with_index do |essay, i| %>
        <div class="citation">
          <%= essay[:authors].join(",") %>, "<%= essay[:title] %>", <em><%= essay[:where] %></em>, <%= essay[:when] %><%= essay[:url] ? "," : "" %> <a href="<%= essay[:url] %>"><%= essay[:url] %></a> <%= essay[:note] %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Open Source
      </div>
      <div class="span10">
        <% data[:oss].each_with_index do |project, i| %>
        <div class="position">
          <div>
            <b><%= project[:name] %></b>
          </div>
          <div>
            <em><%= project[:title] %></em><b class="right"><%= project[:when] %></b>
          </div>
          <div>
            <%= project[:description] %> <a class="right" href="<%= project[:url] %>"><%= project[:url] %></a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Honors/Awards
      </div>
      <div class="span10">
        <% data[:awards].each_with_index do |award, i| %>
        <div>
          <%= award[:name] %>, <%= award[:who] %>, <%= award[:when] %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        References
      </div>
      <div class="span10">
        <em>available upon request</em>
      </div>
    </div>
  </div>
<% if !data[:public] %>
</body>
<% end %>
